<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
 	<Product Id="*" Name="Hetero Streams Library" Language="1033" Version="$(var.Version)" Manufacturer="Intel Corporation" UpgradeCode="8ea6de21-880f-403e-8cc3-1244d2392893">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="hstreams_installer" Level="1">
			<ComponentGroupRef Id="Redist" />
      <ComponentGroupRef Id="Include"/>
      <ComponentGroupRef Id="Tutorials"/>
      <ComponentGroupRef Id="Lib"/>
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
        <Directory Id="MANUFACTURERDIR" Name="Intel">
          <Directory Id="INSTALLFOLDER" Name="HeteroStreamLibrary">
            <Directory Id="REDIST_LOCATION" Name="redist"/>
            <Directory Id="TUTORIALS_LOCATION" Name="tutorials"/>
            <Directory Id="INCLUDE_LOCATION" Name="include"/>
            <Directory Id="LIB_LOCATION" Name="lib"/>
            </Directory>
          </Directory>
       </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="Redist" Directory="REDIST_LOCATION">
      <Component Id="ProductComponent">
        <File Source="$(var.hs.TargetPath)"/>
        <Environment Id="PATH" Name="Path" Value="%HSTREAMS_HOME%\redist\" Permanent="no" Part="last" Action="set" System="no"/>
      </Component>
		</ComponentGroup>
	</Fragment>
  <Fragment>
    <ComponentGroup Id="Lib" Directory="LIB_LOCATION">
      <Component Id="ProductComponent2">
        <File Source="$(var.hs.TargetDir)\$(var.hs.TargetName).lib"/>
        <Environment Id="HSTREAMS_HOME_PATH" Name="HSTREAMS_HOME" Value="[INSTALLFOLDER]" Permanent="no" Action="create" System="no"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>