#                                                                            #
# Hetero Streams Library - A streaming library for heterogeneous platforms   #
# Copyright (c) 2014 - 2016, Intel Corporation.                              #
#                                                                            #
# This program is free software; you can redistribute it and/or modify it    #
# under the terms and conditions of the GNU Lesser General Public License,   #
# version 2.1, as published by the Free Software Foundation.                 #
#                                                                            #
# This program is distributed in the hope it will be useful, but WITHOUT ANY #
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS  #
# FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for   #
# more details.                                                              #
#

# version used: 1.6.1
PROJECT_NAME = hStreams
PROJECT_NUMBER = 0.9
OUTPUT_DIRECTORY = ./build/doxygen/
OPTIMIZE_OUTPUT_FOR_C = YES
EXTRACT_ALL = YES
EXTRACT_PRIVATE = YES
EXTRACT_STATIC = YES
INPUT ="./include"
FILE_PATTERNS = *.h
GENERATE_HTML = NO
GENERATE_MAN = YES
MAN_LINKS = YES
MACRO_EXPANSION = YES
EXPAND_ONLY_PREDEF = YES
PREDEFINED = DOXYGEN_SHOULD_SKIP_THIS \
             DllAccess:=
CLASS_DIAGRAMS = NO
PAPER_TYPE = a4
LATEX_HEADER = conf/header.tex
ALIASES += thread_safety="\par Thread safety:\n"
LATEX_EXTRA_FILES = doc/images/domains-and-streams.pdf
